.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
  .left {
    transform: translateX(-200px);
    display: flex;
    align-items: center;
    cursor: pointer;
    ion-icon {
      color: black;
    }
  }
  .right {
    transform: translateX(176px);
  }
}
.nameCustomer {
  width: 280px;
  text-align: center;
  background-color: #32b768;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 15%;
  font-weight: 600;
}

.mainContent {
  display: flex;
  justify-content: space-between;
}

.mainContent .content {
  width: 68%;
  background-color: #fff;
  padding: 20px;
  height: 600px;
  border-radius: 5px;
  margin-left: 3.5rem;
}

.mainContent .metaContent {
  width: 25%;
  margin: 0 auto;
  .boxData {
    width: 80%;
    margin-left: 2.5rem;
    display: inline-block;
    padding: 15px 45px;
    background-color: #32b768;
    text-align: center;
    border-radius: 5px;
    .boxDataItem {
      display: flex;
      align-items: center;
      margin: 15px 0;
      padding-left: 25px;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }
    ion-icon {
      color: white;
    }
  }
  button {
    display: block;
    width: 80%;
    height: auto;
    padding: 15px 45px;
    margin: 15px 0;
    margin-left: 2.5rem;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
  }
  button.btnComplete {
    background-color: #32b768;
    color: white;
    border: none;
  }
  button.btnHospitalize {
    background-color: white;
    color: #32b768;
    border: 1px solid #32b768;
  }
}

.procedureTab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.procedureTab span {
  width: 160px;
  text-align: center;
  background-color: white;
  border: 1px solid #32b768;
  color: #32b768;
  font-weight: bold;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}

span.active {
  background-color: #32b768;
  color: white;
}

.examing {
  width: 75%;
  margin: 0 auto;
}

.serviceItem {
  display: flex;
  align-items: center;
}

.mainContent .procedureTab {
  display: flex;
}

.wtInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wtInfo div {
  width: 45%;
}

.examing input {
  width: 100%;
  display: block;
  border: 2px solid #dddddd;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
}
.inputItem {
  margin-bottom: 30px;
}
textarea {
  display: block;
  width: 100%;
  border: 2px solid #dddddd;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  resize: none;
}

ion-icon {
  color: #32b768;
}

.footerContent {
  background-color: #d9d9d9;
  display: flex;
  justify-content: end;
  padding: 20px;
}

.footerContent button {
  padding: 15px 30px;
  margin: 0 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btnBack {
  background-color: rgba(108, 108, 108, 0.5);
}

.btnCont {
  background-color: rgba(50, 183, 104, 0.5);
}

.serviceItem > input {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.serviceItem > label {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.requireText {
  display: inline-block;
  margin-bottom: 10px;
}

.printService {
  background-color: #32b768;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 300px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 18px;
}

//rvjwbnwbVWH

.btnCreate {
  background-color: #32b768;
  border: #32b768;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin-left: 300px;
  margin-top: 200px;
}

.create {
  position: absolute;
}

h1 {
  color: #6c6c6c;
  font-size: 24px;
}

h3 {
  color: #6c6c6c;
  font-size: 20px;
}

p {
  color: #737373;
  font-size: 14px;
  margin-bottom: 10px;
}

option {
  color: #737373;
  font-size: 14px;
}

.contentAll {
  padding-bottom: 20px;
}

.createFirst {
  display: flex;
  padding-bottom: 20px;
}

.First {
  padding-right: 20px;
}

.DrugNameList {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.TypeList {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.AmountList {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.createSecond {
  display: flex;
  padding-bottom: 20px;
}

.Second {
  padding-right: 20px;
}

.UnitList {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.DayList {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.Instruct {
  width: 650px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.btnDelete {
  margin-top: 15px;
  cursor: pointer;
}

.AddMedicine {
  margin-right: 20px;
  margin-left: 65px;
  margin-top: 20px;
  width: 160px;
  height: 40px;
  background: #32b768;
  border-radius: 8px;
  color: #ffff;
  font-size: 20px;
}

.ViewMedicine {
  margin-right: 20px;
  width: 160px;
  height: 40px;
  background: #32b768;
  border-radius: 8px;
  color: #ffff;
  font-size: 20px;
}

.PrintMedicine {
  width: 160px;
  height: 40px;
  border: 2px solid #32b768;
  border-radius: 8px;
  color: #32b768;
  font-size: 20px;
}

.popup {
  top: 100px;
  border-radius: 10px;
  height: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.SelectDate {
  margin-top: 100px;
  margin-left: 240px;
  display: flex;
}

.Calendar {
  width: 200px;
  height: 40px;
  margin-right: 10px;
  padding-left: 20px;
  border: 2px solid #32b768;
  border-radius: 4px;
}

.btnDone {
  width: 100px;
  height: 40px;
  background-color: #32b768;
  border: #32b768;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}

.Note {
  width: 310px;
  height: 200px;
  margin-top: 20px;
  margin-left: 240px;
  word-wrap: break-word;
  border: 2px solid #bdbdbd;
  border-radius: 4px;
}

.btnAdd {
  width: 100px;
  height: 40px;
  background-color: #32b768;
  border: #32b768;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 350px;
}

.create {
  position: absolute;
}

.scrollableblock {
  width: 820px; /* Độ rộng của khối */
  height: 410px; /* Độ cao của khối */
  overflow: auto; /* Tạo thanh cuộn khi nội dung tràn */
}
