.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .left {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    ion-icon {
      color: black;
    }
  }
  // .right {
  //   transform: translateX(176px);
  // }
}
.nameCustomer {
  text-align: center;
  background-color: white;
  color: #32b768;
  padding: 20px 40px;
  border-radius: 5px;
  font-weight: 600;
  min-width: 260px;
  font-size: 18px;
}


.mainContent {
  display: flex;
  justify-content: space-between;
}

.mainContent .content {
  width: 75%;
  background-color: #fff;
  padding: 20px;
  min-height: 615px;
  border-radius: 8px;
}

.mainContent .metaContent {
  width: 25%;
  margin-left: 40px;
  .boxData {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #32b768;
    text-align: center;
    border-radius: 5px;
    .boxDataItem {
      display: flex;
      align-items: center;
      margin: 20px 0;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }
    ion-icon {
      color: white;
    }
  }
  button {
    display: block;
    height: auto;
    padding: 15px 45px;
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    width: 100%;
  }
  button.btnComplete {
    background-color: #32b768;
    color: white;
    border: none;
  }
  button.btnCancel {
    background-color: #fff;
    color: red;
    border: 1px solid red;
    
  }
  button.btnHospitalize {
    background-color: white;
    color: #32b768;
    border: 1px solid #32b768;
  }
}

.procedureTab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // width: 80%;
  margin: 20px 20px;
  margin-bottom: 50px;
}

.procedureTab span {
  // width: 160px;
  text-align: center;
  background-color: white;
  // border: 1px solid #32b768;
  color: #32b768;
  font-weight: bold;
  // padding: 15px;
  border-radius: 8px;
}

span.active {
  background-color: #32b768;
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.examing {
  padding: 0px 20px;
}
.examingMedicine {
  padding: 0px 0px;
  display: flex;
  align-items: center;
  min-height: 400px;
  justify-content: center;
}

.examingService {
  width: 75%;
  margin: 0 auto;
  height: 400px; /* Độ cao của khối */
  overflow: auto; /* Tạo thanh cuộn khi nội dung tràn */
}

.serviceItem {
  display: flex;
  align-items: center;
}

.mainContent .procedureTab {
  display: flex;
}

.wtInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wtInfo div {
  width: 45%;
}

//tab 1
.inputItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  label {
    font-size: 16px;
    font-weight: bold;
  }

  input {
    width: 100%;
    display: block;
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    &:focus {
      outline: none;
      border-color: #32b768;
    }
  }

  .fileInfo {
    width: 100%;
    display: inline;
    margin-top: 5px;
    font-size: 12px;
    color: #ccc;
  }
}

textarea {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  resize: none;
  font-family: Inter, sans-serif;
}

textarea:focus{
  outline: none;
  border-color: #32b768;
}

ion-icon {
  color: #32b768;
}

.footerContent {
  background-color: #e5e5e5;
  display: flex;
  justify-content: end;
  padding: 20px 40px;
}

.footerContent button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btnBack {
  background-color: white;
  color: #000;
  font-weight: 600;
  font-family: Inter, sans-serif;
  margin-right: 20px;
}

.btnCont {
  background-color: #32b768;
  color: #fff;
  font-weight: 600;
  font-family: Inter, sans-serif;
}

.lineProgress {
  width: 100px; 
  height: 3px; 
  background-color: #32b768; 
  border-radius: 10x; 
  margin: 0px 10px;
}
@media (max-width: 1400px) {
  .lineProgress {
    width: 50px; 
    height: 2px; 
    background-color: #32b768; 
    border-radius: 10px; 
    margin: 0px 10px;
  }
}

.serviceItem > input {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin: 10px;
}

.serviceItem > label {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.requireText {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  h3,
  ion-icon {
    color: #6c6c6c;
  }
}

.printService {
  background-color: #32b768;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

//rvjwbnwbVWH

.btnCreate {
  background-color: #32b768;
  border: #32b768;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: Inter, sans-serif;
  padding: 10px 15px;
  align-self: center;
  display: flex;
  font-weight: 400;
  ion-icon {
    color: white;
    font-size: 21px;
  }
}

.create {
  position: absolute;
  display: flex;
}

h1 {
  color: #6c6c6c;
  font-size: 24px;
}

p {
  color: #737373;
  font-size: 14px;
  margin-bottom: 10px;
}

option {
  color: #737373;
  font-size: 14px;
}

.contentAll {
  padding: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.createFirst {
  display: flex;
  padding-bottom: 5px;
}

.First {
  padding-right: 20px;
  font-weight: 600;
}

.DrugNameList {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
  font-family: Inter, sans-serif;
}

.TypeList {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  background-color: rgba(217, 217, 217, 0.4);
  color: black;
  padding-top: 10px;
}

.AmountList {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  background-color: rgba(217, 217, 217, 0.4);
  color: #737373;
  padding-top: 10px;
}

.createSecond {
  display: flex;
  padding-bottom: 5px;
}

.Second {
  padding-right: 53px;
  font-weight: 600;
}

.UnitList {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.DayList {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding-left: 20px;
  background-color: #f9f9f9;
  color: #737373;
}

.Instruct {
  height: 80px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
  color: #737373;
  font-family: Inter, sans-serif;
}

.btnDelete {
  margin-top: 15px;
  cursor: pointer;
}

.AddMedicine {
  display: flex;
  align-items: center;
  background-color: #32b768;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  margin-right: 10px;
  ion-icon {
    color: #fff;
  }
}
.numberMedicine {
  font-size: 18px;
  font-weight: 500;
}

.ViewMedicine {
  margin-right: 20px;
  width: 160px;
  height: 40px;
  background: #32b768;
  border-radius: 8px;
  color: #ffff;
  font-size: 20px;
}

.boxMedicine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PrintMedicine {
  display: flex;
  align-items: center;
  border: 1px solid #32b768;
  border-radius: 5px;
  color: #32b768;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 15px;
  font-weight: 500;
}

.popup {
  top: 100px;
  border-radius: 10px;
  height: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.SelectDate {
  height: 150px;
  // margin-left: 380px;
  // display: flex;
}

.Calendar {
  width: 200px;
  height: 40px;
  margin-right: 10px;
  padding-left: 20px;
  border: 2px solid #32b768;
  border-radius: 4px;
}

.btnDone {
  width: 100px;
  height: 40px;
  background-color: #32b768;
  border: #32b768;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}

.Note {
  width: 310px;
  // height: 223px;
  word-wrap: break-word;
  border: 2px solid #bdbdbd;
  border-radius: 4px;
  margin-left: 45px;
}

.btnAdd {
  width: 310px;
  height: 40px;
  background-color: #32b768;
  border: #32b768;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 45px;
}

.create {
  position: absolute;
}

.scrollableblock {
  width: 820px; /* Độ rộng của khối */
  height: 400px; /* Độ cao của khối */
  overflow: auto; /* Tạo thanh cuộn khi nội dung tràn */
}

.txtThird {
  width: 200px;
  font-weight: 600;
}

.ChooseDay {
  width: 200px;
  height: 50px;
  margin-left: 430px;
}

.SetTime {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  text-align: center;
  margin-left: 300px;
}

.SetTimeSon {
  background-color: #32b768;
  margin-left: 30px;
  margin: 10px;
  color: #fff;
  padding-top: 5px;
  border-radius: 3px;
}

.txtNote {
  margin-left: 45px;
}

.deleteMedicine {
  font-size: 25px;
  margin-top: 3px;
  color: red;
  cursor: pointer;
}

.headerDelete {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}



.hsdMedicine {
  margin-bottom: 30px;
  color: #6c6c6c;
  font-size: 14px;
}

.expectedDate {
  padding-bottom: 15px;
  margin-left: 170px;
}

.calendar {
  width: 350px;
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: rgba(217, 217, 217, 0.4);
  margin-left: 170px;
}

.infConfirm {
  width: 800px;
  height: 500px;

  margin-left: 150px;
}

.iconConfirm {
  width: 100px;
  height: 100px;
  margin-left: 350px;
  margin-top: 50px;
  color: #32b768;
}

.txtConfirm {
  font-size: 25px;
  margin-left: 200px;
  margin-top: 50px;
}

.txtConfirmBack {
  font-size: 15px;
  margin-left: 290px;
  margin-top: 30px;
}

.resultDetail {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  // background: hsl(188, 100%, 37%, 0.5);
  border-radius: 6px;
}

.titleService {
  border-bottom: 1px solid #737373;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  span {
    font-size: 12px;
    background-color: #32b768;
    color: white;
    cursor: pointer;
  }
}

.lineItem {
  margin: 10px 0;
  font-weight: 500;
  .label {
    display: inline-block;
    min-width: 185px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(108, 108, 108, 1);
    margin-right: 5px;
  }
}

.popup {
  height: 500px;
}

.imgPopup {
  width: 100%;
  height: 450px;
}

.viewFile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  ion-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    color: white;
  }
  transition: all 0.2s ease-in;
}

.inputLabelDesc {
  font-size: 13px;
  font-style: italic;
}

.cancelled {
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: red !important;
}
