.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
  .left {
    transform: translateX(-200px);
    display: flex;
    align-items: center;
    cursor: pointer;
    ion-icon {
      color: black;
    }
  }
  .right {
    transform: translateX(176px);
  }
}
.nameCustomer {
  width: 280px;
  text-align: center;
  background-color: #32b768;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 15%;
  font-weight: 600;
}

.mainContent {
  display: flex;
  justify-content: space-between;
}

.mainContent .content {
  width: 68%;
  background-color: #fff;
  padding: 20px;
  height: 650px;
  border-radius: 5px;
  margin-left: 3.5rem;
}

.mainContent .metaContent {
  width: 25%;
  margin: 0 auto;
  .boxData {
    width: 80%;
    margin-left: 2.5rem;
    display: inline-block;
    padding: 15px 45px;
    background-color: #32b768;
    text-align: center;
    border-radius: 5px;
    .boxDataItem {
      display: flex;
      align-items: center;
      margin: 15px 0;
      padding-left: 25px;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }
    ion-icon {
      color: white;
    }
  }
  button {
    display: block;
    width: 80%;
    height: auto;
    padding: 15px 45px;
    margin: 15px 0;
    margin-left: 2.5rem;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
  }
  //   button.btnComplete {
  //     background-color: #32b768;
  //     color: white;
  //     border: none;
  //   }
  button.btnComplete {
    background-color: white;
    color: #32b768;
    border: 1px solid #32b768;
  }
}

.procedureTab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.procedureTab span {
  width: 160px;
  text-align: center;
  background-color: white;
  border: 1px solid #32b768;
  color: #32b768;
  font-weight: bold;
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}

span.active {
  background-color: #32b768;
  color: white;
}

.grooming {
  width: 75%;
  margin: 0 auto;
}
.groomingChosen {
  width: 80%;
  margin: 0 auto;
}
.title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: left;
  color: black;
  margin-bottom: 15px;
}

.customerInfo {
  padding: 20px;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 10px;
  margin-bottom: 10px;
}
.lineItem {
  margin: 10px 0;
  font-weight: 500;
  .label {
    display: inline-block;
    min-width: 185px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(108, 108, 108, 1);
    margin-right: 5px;
  }
}

.sizeBirdWrapper {
  display: flex;
  margin-bottom: 24px;
}

.sizeBirdItem {
  text-align: center;
  width: 205px;
  height: auto;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #32b768;
  gap: 25px;
  margin: 0 5px;
  cursor: pointer;
  p {
    display: inline-block;;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    width: 180px;
  }
}

.sizeBirdItemActive {
  background-color: #32b768;
  color: #fff;
  text-align: center;
  width: 205px;
  height: auto;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #32b768;
  gap: 25px;
  margin: 0 5px;
  cursor: pointer;
  p {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 180px;
  }
}

.serviceWrapper {
  display: flex;
}
.serviceItem {
  text-align: center;
  width: 300px;
  height: auto;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #32b768;
  gap: 25px;
  margin: 0 5px;
  h5 {
    font-size: 18px;
  }
  .serviceDesc {
    font-size: 14px;
    letter-spacing: 0.10000000149011612px;
    margin: 8px 0;
  }
  .price {
    font-size: 34px;
    margin: 8px 0;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: rgba(50, 183, 104, 1);
    .unitPrice {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
    }
  }
  button {
    background-color: white;
    padding: 8px 62px;
    color: #32b768;
    border: 1px solid #32b768;
    cursor: pointer;
    margin: 8px 0;
  }
}

.serviceItem.active {
  background-color: #32b768; /* Màu nền khi được chọn */
  color: #fff; /* Màu văn bản khi được chọn */
  border-color: #32b768; /* Màu viền khi được chọn */

  .price {
    font-size: 34px;
    margin: 8px 0;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #fff;
    .unitPrice {
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
    }
  }
}

.mainContent .procedureTab {
  display: flex;
}

ion-icon {
  color: #32b768;
}

.footerContent {
  background-color: #d9d9d9;
  display: flex;
  justify-content: end;
  padding: 20px;
}

.footerContent button {
  padding: 15px 30px;
  margin: 0 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btnBack {
  background-color: rgba(108, 108, 108, 0.5);
}

.btnCont {
  background-color: rgba(50, 183, 104, 0.5);
}

.requireText {
  display: inline-block;
  margin-bottom: 10px;
}

.printService {
  background-color: #32b768;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 300px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 18px;
}

.perform {
  margin-left: 180px;
}

.txtService {
  font-size: 30px;
  color: #6B7280;
  width: 500px; /* Adjust the value as needed */
  /* Add any other styles you want */
  /* For example, you can use display: inline-block to allow setting a width */
  display: inline-block;
}

.boxService {
  font-size: 25px;
  color: #737373;
  margin-right: 10px;
}

.boxService > input {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.dropService {
  padding-left: 20px;
}

.DropAndDrag {
  display: flex;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 300px;
  height: 150px;
  margin-top: 20px;
  margin-left: 40px;
}

.dropzone p {
  width: 250px;
  height: 100px;
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
}

/* CSS cho tệp đã được chọn */
.accepted-file {
  background-color: #e0f7fa;
  padding: 10px;
  margin: 5px;
  border: 1px solid #00bcd4;
  border-radius: 4px;
  display: inline-block;
}

.showimage {
  width: 300px;
  height: 150px;
}

.BAGrooming {
  margin-left: 100px;
  margin-top: 20px;

  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;

  /* text-color */
  color: #252B42;
}

.completed {
  margin-left: 150px;
}

.completedinf {
  // display: flex;
  width: 200px;
  border: 2px solid rgb(232, 232, 232);
  margin: 20px;
  border-radius: 8px;
}

.txtCompleted {
  font-size: 12px;
  font-weight: 800;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;

  color: #6C6C6C;
  padding-top: 10px;
  margin-left: 10px;
}

.txtInf {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;

  color: #000000;
  padding-bottom: 15px;
  margin-left: 10px;
}

.txtInfSV {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;

  color: #000000;
  padding-left: 10px;
  margin: 10px;
}

.imageCompleted {
  display: flex;
  margin-top: 20px;
}

.Completedimage {
  width: 300px;
  height: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.txtCompletedimage {
  margin-top: 20px;
  margin-left: 100px;

  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;

  /* text-color */
  color: #252B42;
}

.btnConfirm {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #32B768;
  color: #ffff;
  font-size: 15px;
  border: 1px solid #32B768;

  margin-top: 60px;
  margin-left: 350px;
}

.infConfirm {
  width: 800px;
  height: 500px;

  margin-left: 150px;
}

.iconConfirm {
  width: 100px;
  height: 100px;
  margin-left: 350px;
  margin-top: 50px;
  color: #32B768;
}

.txtConfirm {
  font-size: 25px;
  margin-left: 200px;
  margin-top: 50px;
}

.txtConfirmBack {
  font-size: 15px;
  margin-left: 290px;
  margin-top: 30px;
}

.displaysizeBird {
  display: flex;
  max-width: 870px;
  flex-wrap: wrap;
}

.printService {
  background-color: #32b768;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 380px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 18px;
}

.FILEContent {
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 8px;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 10px;
}

.FILEGrooming {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.btnSubmit {
  background-color: #32b768;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 330px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
}

.completedFirst {
  display: flex;
}

.completedSecond {
  margin-top: 15px;
  display: flex;
}

.completedLeft {
  width: 300px;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 15px 0 0 15px;

  h1{
    color: #000000;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  h4 {
    color: #6C6C6C;
    margin-left: 40px;
  }
}

.completedRight {
  width: auto;
  border: 2px solid rgb(232, 232, 232);
  display: flex;
  border-radius: 0 15px 15px 0;
}

.completedSecondService {
  width: 480px;
  height: 150px;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 0 15px 15px 0;
}

.birdInfo {
  padding: 20px;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 10px;
}

.mainServiceImg {
  width: 750px;
}

.services  {
  height: 450px;
}