.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}

.child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #ffe8c3;
}

.child.header {
  height: 80px;
  justify-content: space-between;
  font-weight: 600;
  color: #fff;
  margin-left: 240px;
  background-color: white;
  .user > span {
    font-size: 22px;
  }
  // .datetime {
  //   background-color: white;
  //   color: black;
  //   padding: 10px 30px;
  //   border-radius: 5px;
  //   margin-left: 15%;
  // }
  .datetime {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-size: 17px; 
    font-weight: 600; 
    font-family: "Inter",sans-serif;
    color: #32B768;
    border-color: #32B768;
  }
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      padding: 5px;
      border: 1px solid #d5d5d5;
    }
    .descUser {
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

span.logoText {
  font-size: 36px;
  margin-left: 10px;
  font-family: 'Inter',sans-serif;
  font-weight: 900;
  text-shadow: 2px 7px 5px #0000004d, 0 -4px 10px #ffffff4d;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}
.blackText {
  color: black;
}

.child.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .tabContainer {
    display: flex;
    flex-direction: column;
  }
  .tabService {
    cursor: pointer;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 200px;
    // text-align: center;
    padding: 20px;
    font-weight: 600;
    width: 240px;
    font-size: 18px;
  }
  .tabService.active {
    background-color: #fff3;
    border-radius: 0px;
  }
  .tabService:hover {
    background-color: rgba(0,255,178,.498);
    border-radius: 0px;
  }
}

.content {
  background-color: #f5f5f5;
  color: black;
  padding: 0;
  margin: 0;
}

body {
  background-color: #32b768;
}

ion-icon {
  margin-right: 10px;
  font-size: 24px;
}

.bottomSidebar {
  color: white;
  cursor: pointer;
  font-weight: 600;
  .logOutTab {
    display: flex;
    align-items: center;
    .iconLogOut {
      margin-right: 10px;
    }
  }
}

