.contentAll {
    padding-bottom: 20px;
  }
  
  .createFirst {
    display: flex;
    padding-bottom: 20px;
  }
  
  .First {
    padding-right: 20px;
  }
  
  .DrugNameList {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 20px;
    background-color: #f9f9f9;
    color: #737373;
  }
  
  .TypeList {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 20px;
    background-color: #f9f9f9;
    color: #737373;
    padding-top: 13px;
  }
  
  .AmountList {
    width: 70px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 20px;
    background-color: #f9f9f9;
    color: #737373;
    padding-top: 13px;
  }
  
  .createSecond {
    display: flex;
    padding-bottom: 20px;
  }
  
  .Second {
    padding-right: 20px;
  }
  
  .UnitList {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 20px;
    background-color: #f9f9f9;
    color: #737373;
  }
  
  .DayList {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 20px;
    background-color: #f9f9f9;
    color: #737373;
  }
  
  .Instruct {
    width: 790px;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    padding-left: 20px;
    background-color: #f9f9f9;
    color: #737373;
  }

  .txtThird {
    width: 200px;
  }