.container {
    margin: 70px;
    background-color: #fff;
    height: 700px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-top: 30px;
}

.left {
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
}

.right {
    display: flex;
}

.btnSearch {
    background-color: #fff;
    font-size: 20px;
    align-self: center;
    border: 1px gray solid;
    padding: 10px;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.right input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px gray solid;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cageChosen {
    width: 1200px;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;

    .cageItem {
        width: 190px;
        height: 100px;
        border-radius: 5px;
        border: 1px solid #32b768;
        gap: 25px;
        margin: 20px 20px;
        cursor: pointer;
        background-color: #32b768;
        color: #fff;

        &.active {
            background-color: #32b768;

            p {
                margin-left: 15px;
                margin-top: 5px;
                margin-bottom: 45px;
                color: #fff;
            }

            span {
                margin-left: 100px;
            }
        }

        &.inactive {
            border-radius: 5px;
            border: 2px solid #32b768;
            gap: 25px;
            margin: 20px 20px;
            cursor: pointer;
            background-color: #fff;

            p {
                margin-left: 15px;
                margin-top: 5px;
                margin-bottom: 45px;
                color: #32b768;
            }

            span {
                margin-left: 80px;
            }
        }
    }

    // .cageItem>p {
    //     margin-left: 15px;
    //     margin-top: 5px;
    //     margin-bottom: 45px;
    //     color: #fff;
    // }

    // .cageItem>span {
    //     margin-left: 80px;
    // }
}

.footerContent {
    text-align: end;
    margin-top: 30px;
    margin-right: 250px;
}

.center {
    padding-left: 830px;
}

.selectCenter {
    width: 130px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}